* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: "Nunito", sans-serif;
}
:root {
  --light-blue: #f3f6f9;
  --yellow: #ffd940;
  --orange: #ff6430;
  --black: #25221d;
  --white: #ffffff;
  --gray: #eeeeee;
  --gray-black: #484848;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--black);
}
p {
  color: var(--gray-black);
  line-height: 28px;
}
h1 {
  font-size: 48px;
  line-height: 55px;
}
h2 {
  font-size: 42px;
  line-height: 50px;
}
h3 {
  font-size: 36px;
  line-height: 45px;
}
h4 {
  font-size: 30px;
  line-height: 40px;
}
h5 {
  font-size: 24px;
  line-height: 35px;
}
h6 {
  font-size: 18px;
  line-height: 30px;
}
/*****Button******/
.button {
  font-family: "Nunito", sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 3px;
  padding: 10px 25px;
  font-size: 17px;
  border: none;
  margin: 10px 0;
}
.button:focus {
  outline: none;
}
.bodered {
  padding: 8px 23px;
  background: none;
  border: 2px solid var(--orange);
  color: var(--orange);
}
.primary {
  background: var(--orange);
  color: var(--white);
}
.secondary {
  background: var(--light-blue);
  color: var(--orange);
}
.spacer {
  flex: 1 1 auto;
}
/******Input******/
.input {
  padding: 11px 11px 10px 11px;
  border: none;
  letter-spacing: 1px;
  font-family: "Nunito", sans-serif;
  color: var(--gray-black);
  margin-bottom: 10px;
  border-radius: 3px;
}
.input:focus {
  outline: none;
}
/******Banner******/
.banner {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url(./1034.jpg);
  /* background: url(./1034.jpg); */
  background-position: top;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 100px;
}
.banner div .primary {
  margin-right: 20px;
}
.banner h1 {
  line-height: 70px;
}
nav {
  display: flex;
  align-items: center;
  padding: 20px 0 0 0;
}
nav ul li {
  list-style: none;
  display: inline;
  padding: 0 10px;
}
nav ul li .dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 10px;
  z-index: 1;
}
nav ul li:hover .dropdown {
  display: flex;
  flex-direction: column;
}

/******about******/
.about {
  height: 80%;
  display: flex;
  padding: 100px;
  background: var(--light-blue);
}
.about .profile-img,
.about div {
  flex-grow: 1;
  width: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.about div {
  flex-direction: column;
}
/******recent-content*****/
.recent-content {
  background: var(--light-blue);
  height: auto;
  padding: 70px 100px 100px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recent-content .youtube {
  display: flex;
  margin-top: 50px;
}
.youtube .youtube-video {
  background: var(--light-blue);
  border: 1px solid var(--gray);
  padding: 10px;
}
.youtube-video iframe {
  height: 220px;
}
/*****help-you****/
.help-you {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 0 100px;
}
.help-content {
  display: flex;
  align-items: baseline;
}
.help-content .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature img {
  width: 70%;
}
/*****advertise******/
.advertise {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(./img/business.jpg);
  height: 60%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.advertise h1 {
  color: var(--light-blue);
}
footer {
  display: flex;
  height: 90%;
  background: var(--black);
  color: var(--white);
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 0 100px;
}
footer .footer-inner {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
}
footer ul,
form {
  width: 300px;
  flex-grow: 1;
  list-style: none;
  line-height: 35px;
}
footer h1,
footer h6 {
  color: var(--yellow);
}
form {
  display: flex;
  flex-direction: column;
  background: var(--gray-black);
  padding: 10px;
  border-radius: 3px;
  text-align: center;
}
form .button {
  margin: 0 3px;
}
/*****digital*****/
.digital {
  background: var(--gray);
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.start {
  background: var(--orange);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0px 4px 5px #989898;
}
.start h4 {
  color: var(--light-blue);
}
.digital-video {
  display: flex;
  padding: 50px 100px 0 100px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: var(--yellow);
}
.digital-video iframe {
  border-right: 4px dashed var(--orange);
  border-top: 4px dashed var(--orange);
  border-left: 4px dashed var(--orange);
  width: 70%;
  height: 500px;
}
.digital-video h6 {
  color: var(--gray-black);
}
.content-1 {
  display: flex;
}
.content-1 > div {
  width: 300px;
  flex-grow: 1;
  padding: 30px;
}
.content-1 > div > h5 {
  font-weight: 400;
}
.content-1 > div:first-child {
  border-right: 4px dashed var(--orange);
  border-top: 4px dashed var(--orange);
}
.content-1 > div:last-child {
  border-top: 4px dashed var(--orange);
}
.content-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--black);
  text-align: center;
  padding: 50px 10px;
  border-top: 4px dashed var(--orange);
  border-bottom: 4px dashed var(--orange);
}
.fa-chevron-down {
  color: var(--orange);
  font-size: 26px;
}
.content-2 h1,
.content-2 h2,
.content-2 h3,
.content-2 h4,
.content-2 h5,
.content-2 h6 {
  color: var(--white);
}
.content-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 50px 0 50px;
  border-bottom: 4px dashed var(--orange);
}
.line-1,
.line-2,
.line-3 {
  border-left: 4px dashed var(--orange);
}
.line-1 {
  height: 80px;
}
.line-2 {
  height: 50px;
}
.line-3 {
  height: 30px;
}
.fa-check-circle {
  color: var(--orange);
  margin-right: 10px;
}
.module {
  display: flex;
  background: var(--light-blue);
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
  background: var(--white);
  border-bottom: 4px dashed var(--orange);
}
.module-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* justify-content: center; */
}
.module-inner div {
  padding: 0 10px;
}
.module-inner h5 {
  border: 1px dashed var(--orange);
  padding: 5px 10px;
  background: var(--light-blue);
}
.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.reviews img {
  width: 250px;
  flex-grow: 1;
  border: 1px solid var(--orange);
}
.module-inner h5:hover {
  transform: 0.2s;
  color: var(--white);
  background: var(--orange);
}
.circle-line {
  border-radius: 100%;
  padding: 0px;
  width: 50px;
  height: 50px;
  border: 4px dashed var(--orange);
}
.module-inner h5 {
  font-weight: 400;
  font-size: 18px;
}
.content-4 {
  display: flex;
  background: var(--light-blue);
  flex-direction: column;
  align-items: center;
  padding: 0 50px 0 50px;
  border-bottom: 4px dashed var(--orange);
}
.content-4 ul li {
  font-size: 22px;
  font-weight: 600;
  list-style: none;
  color: var(--black);
}
.content-4 > div {
  display: flex;
  flex-direction: column;
  padding: 0 150px 50px 150px;
}
.content-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 100px 50px 100px;
  background: var(--yellow);
  border-bottom: 4px dashed var(--orange);
}
.content-5 iframe {
  width: 70%;
  height: 470px;
}
.content-5 p,
.content-6 p,
.content-7 p {
  font-size: 20px;
}
.content-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  border-bottom: 4px dashed var(--orange);
}
.content-6 .inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
}
.content-6 .inner > div {
  background: var(--white);
  padding: 20px;
  flex-grow: 1;
  width: 200px;
  margin: 5px;
  border: 1px solid var(--gray);
}
.content-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--white);
  border-bottom: 4px dashed var(--orange);
}
.banner-seo {
  height: 850px;
  width: 100%;
  background: url(./seo.jpg);
  background-position: center;
  background-size: cover;
  border-bottom: 4px dashed var(--orange);
}
.color-primary {
  color: var(--orange);
}
.title {
  background: var(--white);
  color: var(--black);
  border-radius: 25px;
  padding: 10px 30px;
  border: 4px dashed var(--orange);
}
.course-footer {
  padding: 20px 10px;
}
.border-bottom-none {
  border-bottom: none;
}
.border-right-none {
  border-bottom: none;
}
.border-left-none {
  border-bottom: none;
}
.border-top-none {
  border-bottom: none;
}
@media only screen and (max-width: 768px) {
  .banner {
    background-position: right;
    padding: 0 10px;
  }
  .banner h1,
  .banner h5 {
    color: var(--white);
  }
  nav {
    flex-direction: column;
  }
  .about {
    height: auto;
    flex-direction: column;
    padding: 30px 20px;
  }
  .about .profile-img,
  .about div {
    width: auto;
    padding: 30px 0;
  }
  .about .profile-img img {
    width: 100%;
  }
  .banner-seo {
    height: 500px;
  }
  .recent-content {
    padding: 30px 20px;
  }
  .recent-content .youtube {
    flex-direction: column;
  }
  .help-you {
    height: auto;
    padding: 30px 20px;
  }
  .help-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .help-content .feature {
    flex-direction: column;
  }
  .feature img {
    width: 100%;
  }
  footer {
    height: auto;
    width: auto;
    padding: 30px 20px;
  }
  footer .footer-inner {
    flex-direction: column;
  }
  footer ul,
  form {
    width: auto;
  }
  .start {
    position: fixed;
    top: 0;
    flex-direction: column;
    text-align: center;
    padding: 10px 10px 0 10px;
  }
  .start h4 {
    font-size: 22px;
    line-height: 28px;
  }
  .digital-video {
    display: flex;
    flex-direction: column;
    padding: 50px 10px 0 10px;
    margin-top: 100px !important;
  }
  .digital-video iframe {
    width: 100%;
    height: 240px;
  }
  .content-1 {
    flex-direction: column;
  }
  .content-1 > div {
    width: auto;
    padding: 10px;
  }
  .content-1 > div:first-child {
    border-right: none;
    border-top: 4px dashed var(--orange);
  }

  .content-3 {
    padding: 0 10px;
  }
  .content-3 h1 {
    font-size: 36px;
  }
  .module {
    padding: 0 20px;
  }
  .module-inner {
    width: 100%;
    flex-direction: column;
    padding: 12px 20px;
    border-left: none;
    border-right: none;
  }
  .content-2 {
    padding: 20px 15px;
    width: auto;
  }
  .content-2 h3 {
    font-size: 28px;
    line-height: 35px;
  }
  .content-5 {
    width: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 10px 30px 10px;
  }
  .content-5 img {
    width: 200px;
  }
  .content-4 > div {
    padding: 0 10px;
  }
  .content-6 {
    padding: 20px 10px;
  }
}
@media only screen and (max-width: 568px) {
  nav ul li {
    padding: 0px;
  }
  .banner-seo {
    height: 270px;
  }
}
